version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - mysql
    ports:
      - 8080:80
    volumes:
      - ./:/var/www/html

  mysql:
    image: mysql:${MYSQL_VERSION:-8.0.20}
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: pwdTest
    expose:
      - 3306
